<!DOCTYPE html>

<html class="no-js drshe_wap" style="font-size: 37.5px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <title>我的建议</title>

    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">
    <link rel="stylesheet" href="../stylesheets/cy1.css">
    <link rel="stylesheet" href="../stylesheets/feedback.css">
</head>

<body class="">

    <div class="partner-right">
        <div id="feedback" class="container">
            <div class="head">聆听，让我们做的更好...</div>
            <div class="content_box"><textarea placeholder="如需咨询健康问题，请您到“快问医生”里向医生咨询。" class="content bg_white"></textarea>
                <div class="up-img-btn"><img src="./assets/i/add_img_3d8621a.png" alt="" class="img_add"> <input type="file" id="up-img-input"
                        name="images" accept="image/*" multiple="multiple"> </div>
            </div>
            <div class="btn feedback_btn">提交</div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
    <script type="text/javascript" src="../weui.js"></script>
    <script type="text/javascript">
        $(".feedback_btn").on("click",function(){
            weui.toast('已提交', 3000);
        });
    </script>
</body>

</html>