<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta http-equiv="cleartype" content="on">
    <title>
        商户注册
    </title>
    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">

    <style type="text/css">
        .title {
            text-align: center;
            font-size: 1.6em
        }

        .img-responsive {
            display: inline-block;
            height: auto;
            max-width: 100%;
        }

        .weui-btn2 {
            line-height: 2.3 !important;
            margin-top: 2px !important;
            margin-bottom: 1px !important;
            margin-right: 1px !important;
        }
    </style>
</head>

<body>
    <div id="block1">
        <img src="../block2.jpg" class="img-responsive">
    </div>
    <div id=" block2 ">
        <p class="title ">

        </p>
        <div class="weui-cells weui-cells_form ">
            <div class="weui-cell ">
                <div class="weui-cell__hd "><label class="weui-label ">姓名</label></div>
                <div class="weui-cell__bd "> <input id="name" class="weui-input " type="text" required maxlength="11" placeholder="输入你的姓名" emptytips="请输入姓名">                    </div>
                <div class="weui-cell__ft "> <i class="weui-icon-warn "></i> </div>
            </div>
            <div class="weui-cell ">
                <div class="weui-cell__hd "><label class="weui-label ">手机号</label></div>
                <div class="weui-cell__bd "> <input id="phone" class="weui-input " type="number" required pattern="[0-9]*" maxlength="11" placeholder="输入你现在的手机号"
                        emptytips="请输入手机号 " notmatchtips="请输入正确的手机号 "> </div>
                <div class="weui-cell__ft "> <i class="weui-icon-warn "></i> </div>
            </div>
            <div class="weui-cell weui-cell weui-cell_vcode ">
                <div class="weui-cell__hd "><label class="weui-label ">验证码</label></div>
                <div class="weui-cell__bd "> <input id="code" class="weui-input" maxlength="6" type="text " required placeholder="请输入验证码" tips="请输入验证码">                    </div>
                <div class="weui-cell__ft "> <i class="weui-icon-warn "></i>
                    <div class=" "> <a id="codebutton" class="weui-btn weui-btn_primary weui-btn2">获取验证码</a> </div>
                </div>
            </div>
            <div class="weui-cell ">
                <div class="weui-cell__hd "><label class="weui-label ">公司名称</label></div>
                <div class="weui-cell__bd "> <input id="company" class="weui-input" type="text" required placeholder="输入公司名称
            " emptytips="请输入公司名称 " notmatchtips=" "> </div>
                <div class="weui-cell__ft "> <i class="weui-icon-warn "></i> </div>
            </div>
            <div class="weui-cell ">
                <div class="weui-cell__hd "><label class="weui-label ">地址</label></div>
                <div class="weui-cell__bd "> <input id="address" class="weui-input" type="text" required placeholder="输入公司地址
            " emptytips="请输入公司地址 " notmatchtips=" "> </div>
                <div class="weui-cell__ft "> <i class="weui-icon-warn "></i> </div>
            </div>
        </div>
        <div class="weui-btn-area "> <a id="formSubmitBtn" href="javascript:void(0) " class="weui-btn weui-btn_primary ">确认立即领取</a> </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js "></script>
    <link rel="stylesheet " href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css ">
    <script type="text/javascript " src="../weui.js "></script>
    <script src="//cdn1.lncld.net/static/js/2.3.2/av-min.js "></script>
    <script type="text/javascript ">
        var objid="<%=objid%>";
        var validCode=true;
        $("#codebutton").on("click" ,function  () {
            var time=60;
            var $code=$(this);
            if (validCode) {
                if($("#phone").val().length==11){
                    $.post("/apply/msg", { phone: $("#phone").val()}, function (result) {});
                }else{
                    return;
                }
                validCode=false;
                var t=setInterval(function  () {
                    time--;
                    $code.html(time+"秒");
                    if (time==0) {
                        clearInterval(t);
                    $code.html("重新获取");
                        validCode=true;
                    }
                },1000)
            }
        });

        $("#formSubmitBtn").on("click", function () {
            if($("#name").val().length>0&&$("#company").val().length>0&&$("#phone").val().length==11&&$("#address").val().length>0){
                $.post("/apply/verify", { phone: $("#phone").val(),code:$("#code").val()}, function (result) {
                    if(result.code!=0){
                        weui.alert(result.msg);
                        return;
                    }else{
                        $("#formSubmitBtn").attr("disabled","disabled");
                        $.post("/apply/add", { name: $("#name").val(), phone: $("#phone").val(), company: $("#company").val(),address:$("#address").val(),objid:objid }, function (result) {
                            if (result.code == 0) {
                                window.location.replace("/apply/success");
                            } else {
                                weui.alert(result.msg);
                            }
                        });
                    }
                });
            }else{
                weui.alert("请正确填写信息");
                return;
            }
        });
    </script>
</body>

</html>