<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta http-equiv="cleartype" content="on">
    <title>
        登记信息
    </title>
    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">

    <style type="text/css">
        .title {
            color: white
        }

        .arrow {
            color: black
        }

        .o2o {
            background-color: white;
            color: #2a84c3;
            border-radius: 18%;
            font-weight: 600
        }

        .img-responsive {
            display: inline-block;
            height: auto;
            max-width: 50%;

        }

        .weui-btn2 {
            line-height: 2.3 !important;
            margin-top: 2px !important;
            margin-bottom: 1px !important;
            margin-right: 1px !important;
        }

        .weui-btn_primary {
            background-color: #2489cf !important;
        }

        #block1 {
            background-color: #2489cf;
            text-align: center;
        }

        img {
            margin-top: 1rem;
        }

        .p1 {
            margin-top: 1rem
        }

        .p2 {
            margin-top: 0.5rem;
            padding-bottom: 1.5rem;
        }
    </style>
</head>

<body>
    <div id="block1">
        <img src="../o2o.png" class="img-responsive">
        <p class="title p1">
            注册信息
            <span class="arrow">→</span>与
            <span class="o2o">1对1</span>客服加好友
            <span class="arrow">→</span>专享
            <span class="o2o">1对1</span>服务
        </p>
        <p class="title p2">
            1对1操作指导·免费延保维修·专业美疗知识
        </p>
    </div>
    <div id=" block2 ">
        <p class="title ">

        </p>
        <div class="weui-cells weui-cells_form ">
            <div class="weui-cell ">
                <div class="weui-cell__hd ">
                    <label class="weui-label ">手机号码</label>
                </div>
                <div class="weui-cell__bd ">
                    <input id="phone" class="weui-input " type="number" required pattern="[0-9]*" maxlength="11" placeholder="输入你现在的手机号" emptytips="请输入手机号 "
                        notmatchtips="请输入正确的手机号 "> </div>
                <div class="weui-cell__ft ">
                    <i class="weui-icon-warn "></i>
                </div>
            </div>
            <div class="weui-cell weui-cell weui-cell_vcode ">
                <div class="weui-cell__hd ">
                    <label class="weui-label ">短信验证码</label>
                </div>
                <div class="weui-cell__bd ">
                    <input id="code" class="weui-input" maxlength="6" type="text " required placeholder="请输入验证码" tips="请输入验证码"> </div>
                <div class="weui-cell__ft ">
                    <i class="weui-icon-warn "></i>
                    <div class=" ">
                        <a id="codebutton" class="weui-btn weui-btn_primary weui-btn2">获取验证码</a>
                    </div>
                </div>
            </div>
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                            <label for="" class="weui-label">城市</label>
                        </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="select1">
                            <option value="1">中国</option>
                            <option value="2">美国</option>
                            <option value="3">英国</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">城市</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="select2">
                            <option value="1">中国</option>
                            <option value="2">美国</option>
                            <option value="3">英国</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-btn-area ">
            <a id="formSubmitBtn" href="javascript:void(0) " class="weui-btn weui-btn_primary " style="margin-bottom:1rem">立即提交</a>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js "></script>
    <link rel="stylesheet " href="../weui.min.css ">
    <script type="text/javascript " src="../weui.js "></script>
    <script src="//cdn1.lncld.net/static/js/2.3.2/av-min.js "></script>
    <script type="text/javascript ">
        var objid="<%=objid%>";
        var validCode=true;
        $("#codebutton").on("click" ,function  () {
            var time=60;
            var $code=$(this);
            if (validCode) {
                if($("#phone").val().length==11){
                    $.post("/apply/msg", { phone: $("#phone").val()}, function (result) {});
                }else{
                    return;
                }
                validCode=false;
                var t=setInterval(function  () {
                    time--;
                    $code.html(time+"秒");
                    if (time==0) {
                        clearInterval(t);
                    $code.html("重新获取");
                        validCode=true;
                    }
                },1000)
            }
        });

        $("#formSubmitBtn").on("click", function () {
            if($("#name").val().length>0&&$("#company").val().length>0&&$("#phone").val().length==11&&$("#address").val().length>0){
                $.post("/apply/verify", { phone: $("#phone").val(),code:$("#code").val()}, function (result) {
                    if(result.code!=0){
                        weui.alert(result.msg);
                        return;
                    }else{
                        $("#formSubmitBtn").attr("disabled","disabled");
                        $.post("/apply/add", { name: $("#name").val(), phone: $("#phone").val(), company: $("#company").val(),address:$("#address").val(),objid:objid }, function (result) {
                            if (result.code == 0) {
                                window.location.replace("/apply/success");
                            } else {
                                weui.alert(result.msg);
                            }
                        });
                    }
                });
            }else{
                weui.alert("请正确填写信息");
                return;
            }
        });
    </script>
</body>

</html>