<!DOCTYPE html>

<html class="no-js drshe_wap" style="font-size: 37.5px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <title>张继伟医生</title>

    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">

    <link rel="stylesheet" href="../stylesheets/cy1.css">
    <link rel="stylesheet" href="../stylesheets/doctor.css">

</head>

<body class="">

    <div class="partner-right">
        <div id="page-share-info" data-img="" data-title="" data-desc=""></div>
        <div id="doctor-home-preview" class="d-intro">
            <div class="doctor_intro">
                <div class="sec sec-doctor-intro">
                    <div class="doctor-meta">
                        <div class="doctor-img"><img src="../2acb520ace1f_w1467_h1428_.jpg" onerror="javascript:this.style.display = &#39;none&#39;"></div>
                        <div class="doctor-intro">
                            <div class="doctor-name">张继伟</div>
                            <div class="doctor-title">
                                <span>骨伤科</span>
                                <span>医师</span>
                            </div>
                            <div class="doctor-hospital">甘肃省中医院</div>
                        </div>
                    </div>
                </div>
                <div class="extra-info">

                    <div class="d-title">擅长及诊所介绍</div>
                    <div class="d-content">擅长骨伤科常见病如颈椎病、腰椎间盘突出、脊柱侧弯、椎管狭窄等脊柱退行性疾病的诊断和治疗。</div>

                    <div class="d-title">医学教育背景介绍</div>
                    <div class="d-content">2008.09-2013.07就读于承德医学院获得学士学位 2013.09-2016.07就读于上海中医药大学获骨伤专业硕士学位 2016.08至今就职于甘肃省中医院从事骨伤科工作</div>

                    <div class="d-title">学术研究成果、获奖介绍</div>
                    <div class="d-content">在国家核心期刊发表学术论文6篇，其中第一作者发表2篇；参与省部级课题2项。</div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>