<!DOCTYPE html>

<html class="no-js drshe_wap" style="font-size: 37.5px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <title>添加新档案</title>

    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">

    <style>
        body {
            background-color: #f2f5f7;
            font-size: .37333rem;
            color: #323232;
            margin: 0 auto;
        }
        
        section {
            margin-top: .26667rem;
            background-color: #fff;
            padding-left: .4rem;
        }
        
        .inner-line {
            padding: .32rem 0;
            line-height: 1.5;
            border-bottom: 1px solid #e7e7e7;
            overflow: hidden;
        }
        
        .block-left {
            float: left;
            margin-right: .26667rem;
            min-width: 1.6rem;
        }
        
        .block-right {
            overflow: hidden;
        }
        
        input[type=password],
        input[type=text],
        textarea {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            resize: none;
        }
        
        .qa-input {
            border: 0 none;
            margin: 0;
            padding: 0;
            width: 100%;
            font-size: .37333rem;
            box-sizing: border-box;
            outline: none;
            -webkit-appearance: none;
        }
        
        input,
        select {
            vertical-align: middle;
        }
        
        .qa-btn {
            width: 90%;
            margin: 0 auto;
            position: fixed;
            bottom: .26667rem;
            left: 50%;
            transform: translate(-50%);
            -webkit-transform: translate(-50%);
            font-size: .42667rem;
            padding: .32rem 0;
            color: #fff;
            background-color: #68aafc;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            outline: none;
            border: 0 none;
            -webkit-appearance: none;
        }
    </style>
</head>

<body>
    <div class="partner-right">
        <div class="container">
            <section>
                <div class="inner-line">
                    <div class="block-left">称呼</div>
                    <div class="block-right">
                        <input type="text" placeholder="请输入称呼" class="qa-input">
                    </div>
                </div>
                <div class="inner-line">
                    <div class="block-left">出生日期</div>
                    <div class="block-right"><input type="text" placeholder="请输入年龄" class="qa-input"></div>
                </div>
            </section>
            <button class="qa-btn" style="touch-action: manipulation; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">完成</button>

        </div>
    </div>

</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
<script type="text/javascript" src="../weui.js"></script>
<script type="text/javascript">

</script>

</html>