<!DOCTYPE html>
<html class="no-js drshe_wap" style="font-size: 37.5px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>问诊服务</title>
    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">
    <link rel="stylesheet" href="../stylesheets/cy1.css">
    <link rel="stylesheet" href="../stylesheets/cy2.css">
    <script type="text/javascript">
        window.addEventListener("resize", function () { var MAX_WIDTH = 640, htmlDom = document.querySelector("html"), htmlWidth = htmlDom.clientWidth, screenWidth = screen.width, width = Math.min(htmlWidth, MAX_WIDTH), htmlFontSize = width / 10, preHtmlFontSize = htmlDom.style.fontSize || ""; preHtmlFontSize = parseFloat(preHtmlFontSize); if (preHtmlFontSize && htmlFontSize == preHtmlFontSize) { return } if (screenWidth > 750) { htmlFontSize = 37.5 }; htmlDom.style.fontSize = htmlFontSize + "px" }); !function () { var event = document.createEvent("HTMLEvents"); event.initEvent("resize", false, false); window.dispatchEvent(event) }();
    </script>
</head>

<body class="">
    <div class="partner-right">
        <header>
            <input type="hidden" name="userid" value=<%=objid%> />
            <div class="header-top">
                <div class="sidebar-icon">
                </div>
                <img class="logo" src="../assets/i/logo.png">
                <h3 class="logo-text">公立三甲、专科医生的图像问诊服务</h3>
            </div>

            <a class="header-link free" style="background-image: url(&#39;../assets/i/icon1.png&#39;)" href="ask">
                <h6>快问医生</h6>
                <span class="header-link-tip">妇科自检 图像问诊，让医生看护你</span>
                <span class="next-icon"></span>
            </a>


            <a class="header-link pay" style="background-image: url(&#39;../assets/i/icon3.png&#39;)" href="searchdoctor">
                <h6>自选医生</h6>
                <span class="header-link-tip">找名医，精准咨询</span>
                <span class="next-icon"></span>
            </a>

        </header>
        <main class="service-list">

        </main>
        <section class="mask hide">
            <div class="mask-content">
                <h6 class="mask-title">功能列表</h6>
                <ul class="mask-list">
                    <li>
                        <a href="all_service">
                            <span class="icon icon-all-service"></span>全部咨询
                        </a>
                    </li>
                    <li>
                        <a href="mypoints">
                            <span class="icon icon-my-count"></span>我的积分
                        </a>
                    </li>
                    <li>
                        <a href="phone">
                            <span class="icon icon-phone-bind"></span>手机绑定
                        </a>
                    </li>
                    <li>
                        <a href="advice">
                            <span class="icon icon-feedback"></span>
                            <span class="feedback-text">意见反馈</span>
                        </a>
                    </li>
                </ul>

                <div class="mask-download">
                    <a href="">
                        <span class="icon-download"></span>下载 Dr.She App
                    </a>
                </div>

            </div>
        </section>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(".sidebar-icon").on("click", function () {
            $("body").addClass("no-scroll"), $(".mask").removeClass("hide"),
                $(".mask-content").addClass("show-move")
        }),
            $(".mask").on("click", function () {
                $(".mask").addClass("hide"), $("body").removeClass("no-scroll"),
                    $(".mask-content").removeClass("show-move")
            });

        function showUnreadNews() {
            $.ajax({
                type: "GET",
                url: "/inquiry/list/",
                dataType: "json",
                success: function (msg) {
                    
                }
            });
        }
        setInterval('showUnreadNews()', 1000);
    </script>
</body>

</html>