<!DOCTYPE html>

<html class="no-js drshe_wap" style="font-size: 37.5px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <title>快问医生</title>

    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">

    <link rel="stylesheet" href="../stylesheets/cy1.css">
    <link rel="stylesheet" href="../stylesheets/inquiry.css">
    <style>
        audio {
            max-width: 7rem;
        }
    </style>
</head>

<body class="">




    <div class="partner-right">
        <div id="qa-inquiry" class="qa-inquiry complete">
            <div class="ajax-loading" style="display: none;">
                <div class="spin-circle"></div>
            </div>
            <div>
                <div class="qa-tipbar green">
                    正在分配医生 </div>
                <div class="qa-doctor-wrap empty">

                </div>
                <div class="qa-inquiry-wrap">
                    <div class="qa-inquiry-list doctor" id="tip">
                        <div class="block-left"><img src="../01.png" class="doctor-avatar-small"></div>
                        <div class="block-right">
                            <div class="qa-list-wrap">
                                <div class="qa-inquiry-content">
                                    <span>亲爱的，您好：我们已通知医生。为您答题的医生均在医院临床一线工作，无法做到随问随答，请您耐心等待哦！您的问题得到回复后，我们会在第一时间给您推送消息~</span>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="qa-bottom-wrap fixed center">
                    <div class="up-img-btn"><input type="file" name="iconImage" id="Image" accept="image/jpeg,image/jpg,image/png,image/gif,image/bmp"></div>
                    <div class="block-send-txt">点击输入文字</div>

                </div>

                <div class="qa-text-mask" style="display: none;">
                    <div class="qa-text-send"><textarea placeholder="输入文字" id="qa-text-area" class="qa-textarea" oninput="changeVale(this.value)" onpropertychange="changeVale(this.value)"></textarea>
                        <div class="qa-text-send-bottom"><span>Dr.She为您解答</span> <a href="javascript:void(0)" class="qa-btn disabled">发送</a></div> <span class="hide-text-send"></span></div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
    <script type="text/javascript" src="../weui.js"></script>
    <script type="text/javascript">
        var problem_id = <%=id%>;
        var content_id = '1';
        function changeVale(str) {
            if (str.length > 0) {
                $(".qa-btn").removeClass("disabled");
            } else {
                $(".qa-btn").addClass("disabled");
            }
        }
        $(".qa-btn").on("click", function () {
            if ($("#qa-text-area").val().length > 0) {
                $(".qa-text-mask").css("display", "none");
                $(".qa-tipbar").css("display", "block");
                $.post("/inquiry/add", { content: $("#qa-text-area").val(), id: problem_id }, function (result) {
                    if (result.error == 0) {
                        $(".qa-text-mask").css("display", "none");
                        $(".qa-tipbar").css("display", "block");
                    } else {
                        weui.alert("回复失败，请退出重试。")
                    }
                });
            }
        });
        function showUnreadNews() {
            var url = "/inquiry/pooling/" + problem_id + '/' + content_id;
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (msg) {
                    content_id = msg.content_id;
                    if (msg.isreply) {
                        var count = 20 - msg.interaction;
                        $(".qa-doctor-wrap").html(msg.doctor);
                        $(".qa-tipbar").html("23小时后或" + count + "次对话后问题关闭");
                        $(".qa-doctor-wrap").removeClass("empty");
                    }
                    if (msg.ispay) {
                        $(".qa-tipbar").html("等待医生回复");
                        $("#tip").css("display", "block");
                        $(".qa-inquiry-wrap").prepend(msg.content);
                    } else {
                        $("#tip").css("display", "none");
                        $(".qa-inquiry-wrap").append(msg.content);
                        if (msg.content.length > 0) {
                            totheend();
                        }
                    }
                    if (msg.isclose) {
                        $(".qa-tipbar").html("问题已关闭");
                        $(".qa-bottom-wrap").html('<h6 class="qa-bottom-title">问题已关闭</h6><a href="/ask" class="qa-bottom-btn pay" style="float:left;margin: 0 auto;display: none;">继续咨询</a>');
                    } else {
                        $(".block-send-txt").on("click", function () {
                            $(".qa-text-mask").css("display", "block");
                            $(".qa-tipbar").css("display", "none");
                            $("#qa-text-area").val("");
                        });
                        $(".hide-text-send").on("click", function () {
                            $(".qa-text-mask").css("display", "none");
                            $(".qa-tipbar").css("display", "block");
                        });
                    }
                    audio();
                }
            });
        }
        setInterval('showUnreadNews()', 1000);
        gallery();
        function totheend() {
            $(document).ready(function () {
                var h = $(document).height() - $(window).height();
                $(document).scrollTop(h);
            });
        }
        function audio() {
            var t = $(".qa-inquiry-wrap audio");
            $.each(t, function (t, i) {
                var e = $(i), o = e.closest(".qa-inquiry-content"), s = e[0];
                o.on("click", function () {
                    s.play();
                });
                s.addEventListener("loadedmetadata", function (t) {
                    o.find(".audio-seconds b").text(Math.floor(t.target.duration)), 0 === t.target.duration && (s.volume = 0, s.play(), setTimeout(function () {
                        s.volume = .5, s.pause(), s.currentTime = 0
                    }, 800), s.addEventListener("timeupdate", function (t) {
                        o.find(".audio-seconds b").text(Math.floor(t.target.duration))
                    }))
                })
            })
        }
        function gallery() {//这个是调用微信图片浏览器的函数   
            //下面是获取当前页面所有的img的src 转成数组 并且 转换成json格式  
            // var aa = [];
            // var i = 0;
            // var src = [];
            // aa = $('img');
            // for (i = 0; i < aa.length; i++) {
            //     src[i] = aa[i].src;    //把所有的src存到数组里  
            // }

            //下面是点击图片的时候获取当前第几个图片并且启用咱们做的调用微信图片浏览器的函数  
            // $('img').click(function () {
            //     var index = $('img').index(this);
            //     imagePreview(src[index], src);
            // });
            $('img').on("click", function () {
                var list = [];
                list[0] = this.src;
                imagePreview(this.src, list);
            });
        }
        function imagePreview(curSrc, srcList) {
            //这个检测是否参数为空  
            if (!curSrc || !srcList || srcList.length == 0) {
                return;
            }

            //这个使用了微信浏览器提供的JsAPI 调用微信图片浏览器  
            WeixinJSBridge.invoke('imagePreview', {
                'current': curSrc,
                'urls': srcList
            });
        };
        $('#Image').change(function (event) {
            var fileName = $('#Image').val();
            var extension = fileName.substring(fileName.lastIndexOf('.'), fileName.length).toLowerCase();
            //if (extension == ".jpg" || extension == ".png") {
                var data = new FormData();
                data.append('iconImage', $('#Image')[0].files[0]);
                var loading = weui.loading('正在上传图片...', {
                    className: 'custom-classname'
                });
                $.ajax({
                    url: '../ask/upload',
                    type: 'POST',
                    data: data,
                    cache: false,
                    contentType: false, //不可缺参数
                    processData: false, //不可缺参数
                    success: function (data) {
                        $.post("/inquiry/imageadd", { image: data.img, id: problem_id }, function (result) {
                            if (result.error == 0) {
                                loading.hide();
                            } else {
                                weui.alert('图片上传失败');
                            }
                        });
                    },
                    error: function () {
                        console.log('error');
                    }
                });
            //}
        });
        
    </script>
</body>

</html>