<!DOCTYPE html>

<html class="no-js drshe_wap" style="font-size: 37.5px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <title>安全手机管理</title>

    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">
    <link rel="stylesheet" href="../stylesheets/cy1.css">
    <link rel="stylesheet" href="../stylesheets/secure_phone.css">
    <style>
        .cy-logo {
            width: 52%;
            height: 1.46rem;
        }
    </style>
</head>

<body class="gray-bg">

    <div class="partner-right">
        <div class="secure-phone-wrap">

            <div class="secure-phone-section secure-phone-new">
                <h6>新手机号</h6>
                <input type="number" class="secure-input" placeholder="输入新手机号" id="new-secure-phone" maxlength="11">
                <div class="tel-verify">
                    <input type="text" placeholder="填写验证码" class="secure-input short" id="new-verify-code" disabled="">
                    <button type="button" class="qa-btn small right C_new-verify-code">获取验证码</button>
                </div>
                <a class="qa-btn C_change-phone" href="javascript:void(0)" data-cellphone="">完成</a>
            </div>
            <footer>
                <img src="./assets/i/logo.png" alt="" class="cy-logo">
            </footer>
        </div>

    </div>

</body>

</html>