<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta http-equiv="cleartype" content="on">
    <title>
        维修服务
    </title>
    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">

    <style type="text/css">
        .img-responsive {
            display: inline-block;
            height: auto;
            max-width: 20%;

        }

        .weui-btn2 {
            line-height: 2.3 !important;
            margin-top: 2px !important;
            margin-bottom: 1px !important;
            margin-right: 1px !important;
        }

        .weui-navbar__item.weui-bar__item_on {
            background-color: white !important;
        }

        .weui-btn_primary {
            background-color: #2489cf !important;
        }

        .weui-navbar p {
            font-size: x-large;
            color: white
        }

        #title {
            margin-top: 4.5rem
        }

        .weui-cells p {
            color: #2a84c3;
            padding-left: 15px;
        }

        .weui-cells__title {
            margin-top: 0 !important
        }

        .bold {
            font-weight: bold
        }

        .p1rem {
            margin-bottom: 1rem
        }

        .label {
            color: #2a84c3;
        }

        .p2rem {
            margin-top: 1rem
        }

        .weui-cells {
            margin-top: 0 !important;
            margin-bottom: 1rem;
            border-bottom: 1px solid #d9d9d9
        }

        .weui-cell:before {
            border-top: none !important
        }

        .weui-cells:after {
            border-bottom: none !important
        }
        .red{color:red !important}
    </style>
</head>

<body>
    <div id="block1">

    </div>
    <div id=" block2 ">
        <div class="weui-tab">
            <div class="weui-navbar">
                <div id="tab1" class="weui-navbar__item weui-bar__item_on" onclick="tab1(this)">
                    <img id="checkin" src="../checkin2.png" class="img-responsive">
                    <p style="color:#2a84c3">维修登记</p>
                </div>
                <div id="tab2" class="weui-navbar__item" style="background-color:#2a84c3" onclick="tab2(this)">
                    <img id="query" src="../query2.png" class="img-responsive">
                    <p>进度查询</p>
                </div>
            </div>
            <div id="panel1" class="weui-tab__panel">
                <div id="title" style="padding-left: 15px;padding-right:10px;border-bottom:1px solid #d9d9d9">
                    <p class="p1rem">
                        <span class="bold">维修流程：</span>填写登记表
                        <span style="color:red">（必须填写方可享受维修服务）</span>→用户发回视检镜→等待厂商收货→自助查询进度→确认维修→回寄视检镜</p>
                    <p>
                        <span class="bold">维修原则：</span>非人为损坏，可享1年免费维修服务。</p>
                    <p class="p1rem">
                        <span style="color:#2a84c3">申请客服1对1，了解维修细则 </span>
                        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx0d482cfc691f30e5&redirect_uri=http://drshe.leanapp.cn/apply&response_type=code&scope=snsapi_userinfo&state=1"
                            style="background-color:#2489cf;color:white;border-radius:8%;font-size:14px;">立即申请 > </a>
                    </p>
                    <p class="p1rem">
                        <span class="bold">维修运费：</span>返厂运费由用户承担，回寄运费由厂商承担</p>
                </div>
                <div id="get" style="padding-left: 15px;padding-right:10px;background-color:#e1effa;padding-top:1rem;padding-bottom:1rem">
                    <p class="bold">收件信息：</p>
                    <p>收件人：姚小姐</p>
                    <p>收件地址：江苏省太仓市北京西路6号东楼一层舜宇医疗</p>
                    <p>客服电话：0512-53371600/4006000414</p>
                </div>
                <div class="weui-cells">
                    <p class="p2rem">故障原因<span class="red">*</span><span class="weui-cells__title">请如实选填，以免影响维修进程（可多选）</span></p>
                    <div class="weui-cells weui-cells_checkbox">
                        <label class="weui-cell weui-check__label" for="s11">
                            <div class="weui-cell__hd">
                                <input value="无法开机" type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>无法开机</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s12">
                            <div class="weui-cell__hd">
                                <input value="接口松动" type="checkbox" name="checkbox1" class="weui-check" id="s12">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>接口松动</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s13">
                            <div class="weui-cell__hd">
                                <input value="LED灯不亮" type="checkbox" name="checkbox1" class="weui-check" id="s13">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>LED灯不亮</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s14">
                            <div class="weui-cell__hd">
                                <input value="无法连接电脑" type="checkbox" name="checkbox1" class="weui-check" id="s14">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>无法连接电脑</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s15">
                            <div class="weui-cell__hd">
                                <input value="其他" type="checkbox" name="checkbox1" class="weui-check" id="s15">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>其他</p>
                            </div>
                        </label>
                    </div>
                    <div class="weui-cell" style="border-top:0px !important;border-bottom:1px solid #d9d9d9;margin-top:-1rem;margin-bottom:1rem">
                        <div class="weui-cell__hd " style="margin-right: 3rem;">
                            <label class="weui-label label" style="width:115px !important">寄回产品数量<span class="red">*</span></label>
                        </div>
                        <div class="weui-cell__bd ">
                            <input id="count" class="weui-input " type="number" required placeholder="请填写数量" emptytips="请填写数量" notmatchtips="请输入正确的数量 "> </div>
                    </div>

                    <p>快递公司和单号<span class="red">*</span></p>
                    <div class="weui-cells ">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input id="express" class="weui-input" type="text" placeholder="快递公司">
                            </div>
                            <div class="weui-cell__bd">
                                <input id="expressid" class="weui-input" type="text" placeholder="请输入单号">
                            </div>
                        </div>
                    </div>

                    <p>回寄人信息<span class="red">*</span></p>
                    <div class="weui-cells ">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input id="sender" class="weui-input" type="text" placeholder="姓名">
                            </div>
                            <div class="weui-cell__bd">
                                <input id="phone" class="weui-input" type="text" placeholder="手机号码">
                            </div>
                        </div>
                    </div>
                    <p>回寄人地址<span class="red">*</span></p>
                    <div class="weui-cells ">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input id="address" class="weui-input" type="text" placeholder="请填写收件地址">
                            </div>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label for="" class="weui-label label">购买渠道</label>
                        </div>
                        <div class="weui-cell__bd">
                            <select id="select2" class="weui-select" name="select2">
                                <option value="淘宝天猫京东">淘宝天猫京东</option>
                                <option value="经销商">经销商</option>
                                <option value="厂家">厂家</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="weui-cell ">
                        <div class="weui-cell__hd ">
                            <label class="weui-label label">产品ID</label>
                            <span onclick="lookup()" style="background-color:#2489cf;color:white;border-radius:8%;font-size:14px;">点击查看 ></span>
                        </div>
                        <div class="weui-cell__bd ">
                            <input id="productid" class="weui-input " type="text" required pattern="^\d{2}[a-zA-Z]{1}\d{4}$" placeholder="请填写" emptytips="请填写 "
                                notmatchtips="请输入正确的ID号 "> </div>
                    </div>
                    <p>备注</p>
                    <div class="weui-cells__title"></div>
                    <div class="weui-cells" style="border-bottom:none !important">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input id="notice" class="weui-input" type="text" placeholder="如有其他问题，请进行详细说明。">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-btn-area ">
                    <a id="formSubmitBtn" href="javascript:void(0)" class="weui-btn weui-btn_primary " style="margin-top:1rem">提交</a>
                </div>
            </div>
            <div id="panel2" class="weui-tab__panel" style="display:none">
                <p style="margin-top:8rem;padding-left: 15px;color:#2a84c3;font-size:17px">维修进度查询</p>
                <div class="weui-cells ">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <input id="phone2" class="weui-input" type="text" placeholder="寄件人手机号码">
                        </div>
                    </div>
                </div>
                <div class="weui-btn-area " style="margin-top:1rem">
                    <a id="formSubmitBtn2" href="javascript:void(0)" class="weui-btn weui-btn_primary " style="margin-top:1rem">查询</a>
                </div>
            </div>
        </div>


    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js "></script>
    <link rel="stylesheet " href="../weui.min.css ">
    <script type="text/javascript " src="../weui.js "></script>
    <script src="//cdn1.lncld.net/static/js/2.3.2/av-min.js "></script>
    <script type="text/javascript ">
        var objid="<%=objid%>";
        function lookup(params) {
            weui.alert('<img src="../float.jpg" style="width:107%">');
        }
        function tab1(obj){
            $("#tab1").addClass('weui-bar__item_on');
            $("#tab2").removeClass('weui-bar__item_on');
            $("#tab1 p").css('color','#2a84c3');
            $("#tab2 p").css('color','white');
            $("#panel1").css('display','block');
            $("#panel2").css('display','none');
            $("#checkin").attr('src','../checkin2.png'); 
            $("#query").attr('src','../query2.png'); 
        }

        function tab2(obj){
            $("#tab2").addClass('weui-bar__item_on');
            $("#tab1").removeClass('weui-bar__item_on');
            $("#tab1").css('background-color','#2a84c3');
            $("#tab2 p").css('color','#2a84c3');
            $("#tab1 p").css('color','white');
            $("#panel1").css('display','none');
            $("#panel2").css('display','block');
            $("#query").attr('src','../query.png'); 
            $("#checkin").attr('src','../checkin.png'); 
        }

        $("#formSubmitBtn").on("click", function () {
            var id_array=new Array();  
            $('input[name="checkbox1"]:checked').each(function(){  
                id_array.push($(this).val());//向数组中添加元素  
            });  
            var errorstr=id_array.join(',');//将数组元素连接起来以构建一个字符串  
            if($("#phone").val().length==11&&$("#count").val()>0&&$("#express").val().length>0&&$("#expressid").val().length>0&&$("#sender").val().length>0&&$("#address").val().length>0){
                $("#formSubmitBtn").attr("disabled","disabled");
                $.post("/service/add", { productid: $("#productid").val(), phone: $("#phone").val(),count:$("#count").val(),express:$("#express").val(),
                sender:$("#sender").val(),address:$("#address").val(),error:errorstr,expressid:$("#expressid").val(),buy:$("#select2").val(),notice:$("#notice").val(),objid:objid }, function (result) {
                    if (result.code == 0) {
                        window.location.replace("/service/success");
                    } else {
                        weui.alert(result.msg);
                    }
                });
            }else{
                weui.alert("请正确填写信息，请核对寄回数量、手机号码、快递单号、回寄信息等。");
                return;
            }
        });

         $("#formSubmitBtn2").on("click", function () {
            window.location.replace("/service/result?phone="+$('#phone2'));
         });

    </script>
</body>

</html>