<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta http-equiv="cleartype" content="on">
    <title>
        维修服务
    </title>
    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">

    <style type="text/css">
        #block1 {
            text-align: center;
        }
        #block1 p{text-align: left}
        .img-responsive {
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <div id="block1">
        <img src="../smile.png" alt="" style="margin-top:7rem">
        <p style="padding-left:1rem;padding-right:1rem;margin-top:2rem">你的维修申请已提交成功，处理进度可在<span style="color:#2a84c3;">“售后维修→进度查询”</span>中查询。预估整个维修过程在15个工作日内完成，感谢您的耐心等待。</p>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js "></script>
    <link rel="stylesheet " href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css ">
    <script type="text/javascript " src="../weui.js "></script>
    <script src="//cdn1.lncld.net/static/js/2.3.2/av-min.js "></script>
    <script type="text/javascript ">

    </script>
</body>

</html>