<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta http-equiv="cleartype" content="on">
    <title>
        领取成功
    </title>
    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">

    <style type="text/css">
        .title {
            text-align: center;
            font-size: 1.6em
        }

        .img-responsive {
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <div id="block1">
        <img src="../block3-1.jpg" class="img-responsive">
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.drshe"><img src="../block3-2.jpg" class="img-responsive"></a>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js "></script>
    <link rel="stylesheet " href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css ">
    <script type="text/javascript " src="../weui.js "></script>
    <script src="//cdn1.lncld.net/static/js/2.3.2/av-min.js "></script>
    <script type="text/javascript ">

    </script>
</body>

</html>