<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta http-equiv="cleartype" content="on">
    <title>
        妇科问诊免费送
    </title>
    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">

    <style type="text/css">
        .title {
            text-align: center;
            font-size: 1.6em
        }

        .img-responsive {
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <div id="block1">
        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx0d482cfc691f30e5&redirect_uri=http://drshe.leanapp.cn/apply&response_type=code&scope=snsapi_userinfo&state=1">
            <img src="../block1.jpg" class="img-responsive">
        </a>
    </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js "></script>
    <link rel="stylesheet " href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css ">
    <script type="text/javascript " src="../weui.js "></script>
    <script src="//cdn1.lncld.net/static/js/2.3.2/av-min.js "></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript ">
        var signature = '<%=signature%>';
        var nonceStr = '<%=noncestr%>';
        var timestamp = '<%=timestamp%>';
        var appId = 'wx0d482cfc691f30e5';
        var jsapi_ticket = '<%=jsapi_ticket%>';
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: appId, // 必填，公众号的唯一标识
            timestamp: timestamp, // 必填，生成签名的时间戳
            nonceStr: nonceStr, // 必填，生成签名的随机串
            signature: signature,// 必填，签名，见附录1
            jsApiList: ['checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
        // 获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
        wx.onMenuShareTimeline({
            title: '30次公立医院妇科问诊免费送！星天使客户大回馈！让全国公立医院的妇科医生来帮您！', // 分享标题
            link:"http://drshe.leanapp.cn/advise",
            imgUrl: "http://ac-mxoopsat.clouddn.com/9633ea7c380c33e4be3c.jpg" // 分享图标
        });
        // 获取“分享给朋友”按钮点击状态及自定义分享内容接口
        wx.onMenuShareAppMessage({
            title: '30次公立医院妇科问诊免费送！', // 分享标题
            desc: "星天使客户大回馈！让全国公立医院的妇科医生来帮您！", // 分享描述
            link:"http://drshe.leanapp.cn/advise",
            imgUrl: "http://ac-mxoopsat.clouddn.com/9633ea7c380c33e4be3c.jpg", // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
        });
    });
    </script>
</body>

</html>